[급등주]
buy_stg_1 = {"name": "추세", "content": "tic_MA5[-1] > tic_MA20[-1] and tic_MA5[-1] > tic_MA60[-1] and tic_volume[-1] > tic_avg_volume_10 * 2 and tic_close[-1] > min3_MA20[-1] and min3_MA5[-1] > min3_MA20[-1] and min3_MACD_HIST[-1] > 0 and min3_MA5[-1] > min3_MA5[-2]"}
sell_stg_1 = {"name": "이익실현", "content": "current_price >= buy_price * 1.0185"}
sell_stg_2 = {"name": "추적손절", "content": "from_peak_pct <= -1.0"}
sell_stg_3 = {"name": "칼손절", "content": "current_price < buy_price * 0.98"}

[STRATEGIES]
stg_integrated = ?ľíŠ ?ëľ
stg_1 = ę¸ëąěŁ?

[BUYCOUNT]
target_buy_count = 5

[TRADING]
evaluation_interval = 1
commission_rate = 0.0035
tax_rate = 0.0015

[DATA_SAVING]
interval_seconds = 60

[CHART]
chartdata_update_interval = 20

[KIWOOM_API]
simulation = True
appkey = 
secretkey = 

[LOGIN]
autoconnect = True

[SLACK]
webhook = https://hooks.slack.com/services/YOUR_WEBHOOK_URL

[SETTINGS]
last_strategy = 급등주

